# **Weekly 1**

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang =", panjang)
print("Lebar =", lebar)
print("Tinggi =", tinggi)
print("Keliling =", keliling)
print("Luas =", luas)
print("Volume =", volume)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Luas = 512.5
Volume = 5125.0

# **Weekly 2**

In [19]:
#1. Rata-rata nilai Shafira pada kedua mata kuliah
ratarata_shafira = (85+75) /2
print('Rata-rata nilai shafira =',ratarata_shafira)
#2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
nilai_HA = 75+90+70+75
print('Nilai Hanif dan Andi untuk semua matkul =',nilai_HA)
#3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
ratarata_nilai_kalkulus_WDHN = (85+85+80+95)/4
print('Rata-rata nilai kalkulus WDHN =',ratarata_nilai_kalkulus_WDHN)
ratarata_nilai_statistika_WDHN = (85+85+75+80)/4
print('Rata-rata nilai statistika WDHN =',ratarata_nilai_statistika_WDHN)
#4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
ratarata_nilai_kalkulus_semua = (85+80+75+95+85+75+70+85+80)/9
print('Rata-rata nilai kalkulus semua =',ratarata_nilai_kalkulus_semua)
#5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
ratarata_nilai_statistika_semua = (75+90+80+80+85+90+75+85+75)/9
print('Rata-rata nilai statistika semua =',ratarata_nilai_statistika_semua)

Rata-rata nilai shafira = 80.0
Nilai Hanif dan Andi untuk semua matkul = 310
Rata-rata nilai kalkulus WDHN = 86.25
Rata-rata nilai statistika WDHN = 81.25
Rata-rata nilai kalkulus semua = 81.11111111111111
Rata-rata nilai statistika semua = 81.66666666666667

# **Weekly 3**

In [15]:
gaji_bulan_agustus = (31-3)*8*30000
print('gaji bulan agustus =',gaji_bulan_agustus)
tunjangan = (gaji_bulan_agustus*10/100)
print('tunjangan bulan agustus =', tunjangan)
total_gaji = gaji_bulan_agustus + tunjangan + 5*10000
print('total gaji bulan agustus =',total_gaji)

gaji bulan agustus = 6720000
tunjangan bulan agustus = 672000.0
total gaji bulan agustus = 7442000.0